* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 15px;
}

body {
  font-family: 'Overpass', sans-serif;
  height: 100vh;
  background: var(--very-dark-blue);
  margin: 0 auto;
}