* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  width: 100%;
}

html {
  font-size: 15px;
}

body {
  font-family: 'Overpass', sans-serif;
  height: 100vh;
  background: var(--very-dark-blue);
  display: flex;
  justify-content: center;
  align-items: center;
}